.hero{
    background-color: #1F2937;
    display: flexbox;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:auto;
    color: #f9faf8;

}
.random-information{

}
.quote{
    background-color: #e5e7eb;
    

}
.call-to-action-container-space{

}
.footer{

}
.logo{
    font-size: 24px;
    color: #f9faf8;
    text-align: start;
    display: flex;

}
.header-link-one{
    text-align: left;
    padding-left: 1px;
    padding-right: 50px;
}
.header-link-two{

}
.header-link-three{

}
.content{
    font-size: 24px;
    color: #f9faf8;
    text-align: start;
    display: flex;
}
.content-img{

}
.information-heading{

}
.image-one{

}
.image-two{

}
.image-three{

}
.image-four{

}
.subtext-one{

}
.subtext-two{

}
.subtext-three{

}
.subtext-four{

}
.call-to-action{
    background-color: #3882f6;

}
.sign-up{

}
